<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/weather" class="menu-link">Home</a>
      <a mat-list-item [routerLink]="['/user/cities', (userAuth.user$ | async)?.uid || 'all']"
         *ngIf="(userAuth.user$ | async)?.uid" class="menu-link">Saved Cities</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Weather Map</span>
      <span class="spacer"></span>
      <span>
        <a *ngIf="!(userAuth.user$ | async)?.uid" class="bg-color" [routerLink]="['/user','login']">Login</a>
        <a *ngIf="(userAuth.user$ | async)?.uid" class="bg-color" [routerLink]="['/user','profile']">profile</a>
        <a *ngIf="(userAuth.user$ | async)?.uid" class="bg-color" (click)="userAuth.logout()">LogOout</a>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
