<div fxLayout="row" fxLayoutAlign="space-around start">
  <div fxFlex="30%" fxFlexOffset="250px">

    <form class="example-form" *ngIf="city.weather">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="City Name" name="name"
               [(ngModel)]=" city.weather.name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Description" name="Description"
               [(ngModel)]="city.weather.description">
      </mat-form-field>
      <mat-form-field class=" example-full-width">
        <input matInput placeholder="Temperature" name="Temperature"
               [(ngModel)]="city.weather.temperature ">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="save()">Done</button>
    </form>
  </div>
  <div fxFlex="40%">
    <mat-accordion *ngFor="let city of cities">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{city?.weather.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{city?.weather.description}} |         {{city?.weather.temperature | number:'1.0-0'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="text-align: center">
          <button mat-button matSuffix mat-icon-button color="warn" (click)="delete(city)" matTooltip="Delete city">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-button matSuffix mat-icon-button color="primary" (click)="update(city)" matTooltip="Updata city">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
